[project]
name = "behavioral-model-testing-with-hf"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "torch>=2.9.0",
    "transformers>=4.57.1",
]
